<a href="https://colab.research.google.com/github/anthonykupecz/Learnings/blob/main/DataBase_Connections_ipynb.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Import sqlite3
import sqlite3

The connection object connects to the database and manages transactions.
The cursor object is responsible for database queries, scrolling through result set, and retrieving results

In [ ]:
# Create connction object
con = sqlite3.connect('INSTRUCTOR.db')

# Now create a cursor object
cursor = con.cursor()

#Creating a table in the database
In this step we will create a table in the database with following details:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table.png" align="center">

In [ ]:
# Drop table if already exists.
cursor.execute("DROP TABLE IF EXISTS INSTRUCTOR")

In [ ]:
# Create the table
cursor.execute("CREATE TABLE INSTRUCTOR(ID INTEGER PRIMARY KEY NOT NULL, FNAME VARCHAR(20), LNAME VARCHAR(20), CITY VARCHAR(20), CCODE CHAR(2))")

## Task 3: Insert data into the table

In this step we will insert some rows of data into the table.

The INSTRUCTOR table we created in the previous step contains 3 rows of data:

<img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DB0201EN-SkillsNetwork/labs/FinalModule_Coursera_V5/images/table1.png" align="center">

We will start by inserting just the first row of data, i.e. for instructor Rav Ahuja

In [ ]:
# Insert the first row -- here we are specifying the schema of the table.
query = "INSERT INTO INSTRUCTOR(FNAME, LNAME, CITY, CCODE, ID) VALUES('Rav', 'Ahuja', 'TORONTO', 'CA', 1)"
cursor.execute(query)

In [ ]:
cursor.execute('''insert into INSTRUCTOR values (2, 'Raul', 'Chong', 'Markham', 'CA'), (3, 'Hima', 'Vasudevan', 'Chicago', 'US')''')

## Task 4: Query data in the table

In this step we will retrieve data we inserted into the INSTRUCTOR table.

In [ ]:
# Send query to the database. This will get a result set, but its not fetched yet
q = 'SELECT * FROM INSTRUCTOR'
cursor.execute(q)

# Now actually fetch the results
output_all = cursor.fetchall()
output_all

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

In [ ]:
# Fetch only a couple rows
q = 'SELECT * FROM INSTRUCTOR'
cursor.execute(q)

output_two = cursor.fetchmany(2)
output_two

[(1, 'Rav', 'Ahuja', 'TORONTO', 'CA'), (2, 'Raul', 'Chong', 'Markham', 'CA')]

In [31]:
q = '''UPDATE INSTRUCTOR SET CITY = 'FUCK ME' WHERE FNAME = "Rav"'''
cursor.execute(q)
q = 'SELECT * FROM INSTRUCTOR'
cursor.execute(q)
output_all = cursor.fetchall()
output_all

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []

## Task 5: Retrieve data into Pandas

In this step we will retrieve the contents of the INSTRUCTOR table into a Pandas dataframe

In [24]:
import pandas as pd

In [35]:
out = cursor.execute("SELECT * FROM INSTRUCTOR").fetchall()
out

[(1, 'Rav', 'Ahuja', 'FUCK ME', 'CA'),
 (2, 'Raul', 'Chong', 'Markham', 'CA'),
 (3, 'Hima', 'Vasudevan', 'Chicago', 'US')]

In [36]:
#retrieve the query results into a pandas dataframe
df = pd.read_sql_query("select * from instructor;", con)

#print the dataframe
df

Empty DataFrame
Columns: [ID, FNAME, LNAME, CITY, CCODE]
Index: []

## Task 6: Close the Connection

We free all resources by closing the connection. Remember that it is always important to close connections so that we can avoid unused connections taking up resources.

In [37]:
con.close()